@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Page</title>
     <link rel="stylesheet" href="styles.css"> 
    <link rel="stylesheet" href="/css/StyleSheet.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>
<body >
    <div class="login-container">
        <h1>Login</h1>
        <form id="loginForm">
            <label for="username">Username:</label>
            <input type="text" id="username" name="username" required>
            <label for="password">Password:</label>
            <input type="password" id="password" name="password" required>
            <button type="submit">Login</button>
        </form>
    </div>
    @* <div class="text-center">
        <h2>Login</h2>
        <form id="loginForm">
            <div>
                <label for="username">Username:</label>
                <input type="text" id="username" name="username" required>
            </div>
            <div>
                <label for="password">Password:</label>
                <input type="password" id="password" name="password" required>
            </div>
            <button type="submit">Login</button>
            <p>Demo User Name: eve.holt@reqres.in And Password: cityslicka</p>
        </form>
        
    </div> *@

    <script>
        $(document).ready(function () {
            $("#loginForm").submit(function (event) {
                event.preventDefault();

                var emailId = $("#username").val();
                var UserPassword = $("#password").val();

                $.ajax({
                    url: "https://reqres.in/api/login",
                    type: "POST",
                    data: JSON.stringify({ email: emailId, password: UserPassword }),
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    success: function (response) {
                        if (response.token) {
                            window.location.href = "/CheckStatus";
                        } else {
                            $("#message").text("Invalid username or password");
                        }
                    },
                    error: function () {
                        $("#message").text("An error occurred. Please try again.");
                    }
                });
            });
        });
    </script>
</body>
</html>
